<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>upload.html</title>
    <style type="text/css">
      form{
        display: inline-block;
        margin: 0 10px;
      }
    </style>
</head>

<body>
    <!-- formにenctypeを設定しない場合、画像の中身が送信されないため注意 -->
    <form th:action="@{/upload}" th:object="${imageForm}" method="POST" enctype="multipart/form-data">
        ファイルを選択： <input th:field="*{file}" type="file" multiple/><br /> 
    <input type="submit" value="送信する" />
    <img th:src="${base64image}"/>
    </form>
    
    <form th:action="@{/result}" th:object="${imageForm}" method="POST" enctype="multipart/form-data">
       　  <input type="submit" value="色を判定" />
    </form>
    <form method="post" action="menu">
       　  <input type="submit" value="メニュー画面へ" />
    </form>
</body>
</html>