<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>upload.html</title>
    <style type="text/css">
      form{
        display: inline-block;
        margin: 0 10px;
      }div{
	    border: 2px solid #000000;
	    width: 800px;
	    height: 500px;
	    align="center"
	  }p{
        text-align: center;
      }
    </style>
</head>

<body>
    <form th:action="@{/upload}" th:object="${imageForm}" method="POST" enctype="multipart/form-data">
            ファイルを選択： <input th:field="*{image}" type="file" /><br /> 
     <div align="center">
     <img th:src="${base64image}"/>
     </div>
     <p>
     <input type="submit" value="表示する" /> 
     </form>
    <form th:action="@{/result}" th:object="${imageForm}" method="POST" enctype="multipart/form-data" style="position: absolute; left: 60%; top: 1%" >
       　  <input type="submit" value="色を判定" />
    </form>
    <form method="post" action="menu" style="position: absolute; left: 80%; top: 1%">
       　  <input type="submit" value="メニュー画面へ" />
    </form>
</body>
</html>